# Αγνόηση αρχείων και φακέλων του εικονικού περιβάλλοντος
.venv/
.venv/Scripts/python.exe
.venv/pyenv.cfg

# ignore all the csv files
*.csv

# ignore __pycache__ folders
Application/BackEnd/fastapi-env/__pycache__/ 

# Αγνόηση του φακέλου Datasets μέσα στον Dimiscripts
Dimiscripts/Datasets/

# Αγνόηση του φακέλου Final_datasets_with_fire μέσα στον GiorgosScripts
GiorgosScripts/Final_datasets_with_fire/

# Αγνόηση του φακέλου node_modules στο FrontEnd
Application/FrontEnd/hackinterface/node_modules

Application/BackEnd/fastapi-env/Lib
